body {}

/* MENU
*************************************/
#menu {
background:#9154E8;
border-top:1px solid #7D31E8;
color:#fff;
font-size:14px;
font-weight:bold;
padding:5px; }

#menu li {
border-right:1px solid #ffffff;
padding:0 5px; }

#menu li:last-child { border-right:0px solid transparent; }

#menu li #logo {
background:url("/img/logo.jpg") no-repeat 0 0 #fff;
display:block;
height:30px;
width:30px; }

#menu li a { color:#fff; }
#menu li .dropdown-menu {}
#menu li .dropdown-menu li {}
#menu li .dropdown-menu li a {}